.container {
  background-color: rgb(33, 33, 33);
  height: 5rem;
  display: flex;
  align-items: center;
}

.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-mercado {
  height: 3rem;
  width: auto;
}
